  <div class="container">
        <div class="col-xs-8">
          <h4 class="header-list"> Add product</h4>
          <hr>
          <form [formGroup]="productForm">
            <div id="user-date">
              <div class="form-group">
                <label for="productname">Product Name</label>
                <input type="text" id="productname" formControlName="productname" class="input-group mb-2 mr-sm-2 mb-sm-0">
              </div>
              
              <div class="form-group">
                <label for="productdesc">Product Description</label>
                <textarea type="text" id="productdesc" formControlName="productdesc" class="input-group mb-2 mr-sm-2 mb-sm-0" rows="4"></textarea>
              </div>

               <div class="form-group">
                <label for="productcategory">Product Category</label>
                <select type="text" id="productcategory" formControlName="productcategory" class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <option value="Dress">Dress</option>
                    <option value="pant">Pant</option>
                </select>
              </div>

              <div class="form-group">
                  <label for="productcategory">Product Size</label>
                  <select type="text" id="productsize" formControlName="productsize" class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <option value="03">0 to 3 Months</option>
                      <option value="36">3 to 6 Months</option>
                  </select>
                </div>

  
              <div class="form-group">
                <label for="productcost">Product Cost</label>
                <input type="text" id="productcost" formControlName="productcost" class="input-group mb-2 mr-sm-2 mb-sm-0">
              </div>

              <div class="form-group">
                  <label for="productscost">Product Selling Cost</label>
                  <input type="text" id="productscost" formControlName="productscost" class="input-group mb-2 mr-sm-2 mb-sm-0">
                </div>

              <input [disabled] = !productForm.valid (click)="onAddProduct()" class="btn btn-primary" 
              type="button" name="{{buttonAddUpd}}" value="{{buttonAddUpd}}">

              <button class="btn btn-primary" (click)="onReset()" type="submit">Reset</button>

              <hr>


              <div class="form-group">
                  <label for="productcount">Count</label>
                  <input type="text" id="productcount" ngModel 
                  name = "count" formControlName="productcount" class="input-group mb-2 mr-sm-2 mb-sm-0">
                </div>

              <button  [disabled] = !productForm.valid class="btn btn-primary" (click)="onBulkInsert()" type="submit">Bulk Insert</button>
              
              
              </div>
          </form>
        </div>
</div>  